.card-e {
    width: 150vh;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(255, 161, 38, 0.582);
    text-align: center;
    margin: 5vh auto 0vh auto;
}

.restaurant{
    display: flex;
}

.card-image{
    padding-left: 10vh;
}

.descriptions{
    padding-left: 10vh;
}